/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue:#0a3251;
  --teal: #0a808d;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
} */
html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
}

main {
  width: 90%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 1rem 2rem;
  overflow: hidden;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-justify: distribute;
}

.nav-padding {
  padding: 0 10rem;
}
.body-padding {
  padding: 0 4rem;
}
.nav-text {
  @apply text-sm text-gray-500;
}

.container-center{
  @apply max-w-[90%] mx-auto
}

/* buttons */

.button-up{
  @apply  cursor-pointer hover:-translate-y-[1px] transition-transform duration-200
}

.button-down{
  @apply  cursor-pointer hover:translate-y-[1px] transition-transform duration-200
}

.button-right{
  @apply  cursor-pointer hover:translate-x-[1px] transition-transform duration-200
}

.button-left{
  @apply  cursor-pointer hover:-translate-x-[1px] transition-transform duration-200
}

/* Headings */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--blue);
  /* margin-bottom: 1rem; */
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--blue);

  /* margin-bottom: 1rem; */
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--blue);

  /* margin-bottom: 1rem; */
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--blue);

  /* margin-bottom: 1rem; */
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--blue);

  /* margin-bottom: 1rem; */
}

h6 {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--blue);
  
  /* margin-bottom: 1rem; */
}

p {
  font-size: 1rem;
  /* line-height: 1.5; */
}

.text-gray {
  @apply text-gray-500;
}

.text-body-large {
  @apply text-2xl;
}




/*  */

/* footer{
  @apply bg-blue text-white text-center py-4
} */

/*  */

.ticker {
  animation: ticker 4s linear infinite;
}


@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

ul.feature-list{
  @apply flex flex-col gap-2
}

.footer{
  @apply bg-blue text-white text-center py-4
}

.footer-container{
  @apply w-[80%] mx-auto p-4 flex flex-col gap-2
}

.footer-links{
  @apply flex justify-center gap-4 
}
